.dyvix-toast-container
{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  position: fixed;
  width: auto;
  z-index: 1000;
  height: auto;
}
.dyvix-toast
{
  width: 20rem;
  min-height: 4.5rem;
  max-height: fit-content;
  height: auto;
  background-color: #ff3366;
  border: 2px saddlebrown solid;
}




.dyvix-toast-error
{
  background-color: #ff3366;
}
.dyvix-toast-success
{
  background-color: green;
}
/* move to positions.css ? */
.dyvix-top-right
{

  top: 1rem;
  right: 1rem;
}
.dyvix-top-left
{
  top: 1rem;
  left: 1rem;
}
.dyvix-bottom-right
{

  bottom: 1rem;
  right: 1rem;
}
.dyvix-bottom-left
{
  bottom: 1rem;
  left: 1rem;
}